colorama
ipdb
ipykernel

jupyter_client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server

matplotlib
nbresult
numpy
pandas
plotly
pygeohash
pytest
pylint
scikit-learn
seaborn
statsmodels
yapf
fastAPI
uvicorn
streamlit
streamlit-extras

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
# tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
# tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
# tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# Facebook prophet - Complement package for Windows only
pystan; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# Facebook prophet
Cmake
greykite
prophet
